<div class="main-content" >
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create Order</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="createOrder(orderForm)" #orderForm="ngForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Clent Code</label>
                                        <input type="text" class="form-control" placeholder="Company" value="{{user_code}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input type="text" class="form-control" placeholder="Full Name" value="{{user_full_name}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Order Type</label>
                                        <select name="Order Type" class="form-control" ngModel (ngModelChange)="getOrderType($event)" [(ngModel)]="order.tradeTypeId" name="tradeTypeId"> 
                                          <option value="" disabled selected>--Select--</option>
                                          <option [ngValue]=1>Cash</option>
                                          <option [ngValue]=2>TOM</option>
                                          <option [ngValue]=3>SPOT</option>
                                          <option [ngValue]=3>Forward</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Currency Pair</label>
                                        <select type="number" name="Currency Type" ngModel (ngModelChange)="getCurrencyPair($event)" class="form-control" [(ngModel)]="order.ccyId" name="ccyId" required> 
                                          <option value="" disabled selected>--Select--</option>
                                          <option [ngValue]=1 #e1>EUR/USD</option>
                                          <option [ngValue]=3 #g1>GBP/USD</option>
                                          <option [ngValue]=2 #g2>GBP/EUR</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Currency 1</label>
                                        <select type="number" name="Currency 1" ngModel (ngModelChange)="getCurrency1($event)" class="form-control"> 
                                          <option value="" disabled selected>--Select--</option>
                                          <option [ngValue]=1 #e1>EUR</option>
                                          <option [ngValue]=3 #g1>GBP</option>
                                          <option [ngValue]=2 #g2>USD</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Direction</label>
                                        <select name="Trade Type" class="form-control" ngModel (ngModelChange)="getDirection($event)" [(ngModel)]="order.direction" name="direction"> 
                                          <option value="" disabled selected >--Select--</option>
                                          <option value="B">Buy</option>
                                          <option value="S">Sell</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Currency 2</label>
                                        <select type="number" name="Currency 2" ngModel (ngModelChange)="getCurrency2($event)" class="form-control"required> 
                                          <option value="" disabled selected>--Select--</option>
                                          <option [ngValue]=1 >EUR</option>
                                          <option [ngValue]=3 >GBP</option>
                                          <option [ngValue]=2 >USD</option>
                                        </select>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Execution Date</label>
                                        <input type="text" class="form-control" value="{{this.date}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" class="form-control" value="{{this.currencyPrice}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Base Notional Amount</label>
                                        <input type="number" class="form-control" placeholder="Base Notional Ammount" value="" ngModel (ngModelChange)="getBase($event)" [(ngModel)]="order.baseNotional" name="baseNotional">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Quote Price</label>
                                        <input type="number" class="form-control" placeholder="Quote Price" value="{{this.quotePrice}}">
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" value= "getClientId()" [(ngModel)]="order.clientId" name="clientId" >
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-left">Create Order</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="header">
                    <h4 class="title">Latest Rates</h4>
                    <p class="category">{{this.time}}</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                          <thead>
                              <tr>
                                  <th *ngFor="let cell of headerRow">{{cell}}</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let row of dataRows">
                                  <td *ngFor="let cell of row">{{cell}}</td>
                              </tr>
                          </tbody>
                    </table>

              </div>
            </div>
        </div>
    </div>
</div>
